* {
   box-sizing: border-box;
   margin: 0;
}

._container {
   max-width: 1150px;
   margin: 0 auto;
   padding: 0 15px;
}

.page {

   &__header {
      width: 100%;
      max-height: 80px;
      background-color: $bgSection;
      
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
   }

   &__main {
      width: 100%;
   }

   &__footer {
      padding: 70px 0 100px;
      background-color: $bgFooter;
   }
}

// BUTTON 
.button-buy {
   @extend %buy-button;
}

.small-buy-button {
   @extend %small-button;
}