// nav-menu link

%nav-link_action {
   font-weight: 700;
   color: $fontDecor;
   opacity: 1;
}

// button hover
%button-hover {
   border: 2px solid $decorColor;
   background-color: transparentize($bgButton, 1);  
   
   color: $fontDecor;
}

// buy button 
%buy-button {
   border: 2px solid transparent;

   @include buttonBuy(15px, 50px, 5px, $bgButton, $ffHindModurai, 16px, 700, $fontLight);

   transition: 0.6s;

   &:hover {
      border: 2px solid $decorColor;
      background-color: transparent;
      color: $fontDecor;
   }
}

%small-button {
   border: 2px solid transparent;

   @include buttonBuy(14px, 42px, 5px, $bgButton, $ffHindModurai, 16px, 500, $fontLight);

   transition: 0.6s;

   &:hover {
      border: 2px solid $decorColor;
      background-color: transparent;
      color: $fontDecor;
   }
}