// font family
$ffRoboto: "Roboto", sans-serif;
$ffFredokaOne: "Fredoka One", cursive;
$ffHindModurai: "Hind Modurai", sans-serif;

// font color
$fontDecor: #D23166;
$fontDark: #150101;
$fontLight: #FAFAFA;
$fontWhite: #FFFFFF;
$fontMain: #0F0101;
$fontBlack: #000000;

// layout
$bgButton: #D23166;
$bgButtonDark: #D64374;
$bgFooter: #0A0808;
$bgSection: #FBF0F4;
$bgWhite: #FFFFFF;

$decorColor: #D64374;
$colageCircle: hsla(340, 64%, 51%, 0.124);
$imageShadow: #EDB5C7;